html {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    padding: 0 60px;
    margin: 0 auto;
}

.container2 {
    max-width: 1111px;
    padding: 0 60px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 700;

    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
}

.button:hover {
    cursor: pointer;
}

.button {
    border-radius: 3px;
    border: none;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.line {
    width: 100px;
    height: 8px;
}

/* HEADER */
.header {
    background: #2B4074;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    text-decoration: none;
}

.logo-image {
    width: 100px;
    height: 66px;
}

.button.menu {
    width: 40px;
    height: 40px;
    background-image: url("../images/menu-button.svg");
}

/* INTRO */
.intro {
    background: url("../images/bg-alpha.png") center center, url("../images/bg-img.jpg") no-repeat center top;
    background-size: cover;
}

.intro_inner {
    position: relative;
    height: 668px;
}

.title {
    display: block;
    max-width: 513px;
    height: 192px;
    margin: 0 auto;
    padding-top: 107px;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
}

.intro-text {
    display: block;
    max-width: 886px;
    max-height: 60px;
    padding-top: 18px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
}

.button.more {
    display: block;
    margin: 28px auto 0;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    background: #2B4074;
    color: #F9F6E5;
}

.circles {
    display: flex;
    justify-content: center;
    padding-top: 124px;
}

.oval {
    width: 10px;
    height: 10px;
}

.oval + .oval {
    margin-left: 10px;
}

.arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrow {
    border: none;
    width: 70px;
    height: 70px;
}

.arrow.forward {
    background: url("../images/forward.png") center no-repeat, linear-gradient(0, #2B4074, #2B4074);
}

.arrow.back {
    background: url("../images/back.png") center no-repeat, linear-gradient(0, #F9F6E5, #F9F6E5);
}

/* PROMO */
.promo {
    background: #2B4074;
    height: 192px;
}

.promo_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.promo-title {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 4px;
}

.promo-text {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.promo-button {
    width: 200px;
    height: 50px;
    background-color: #F9F6E5;
}

/*SERVICES*/
.services_inner {
    display: flex;
    justify-content: space-between;
}

.services-content {
    height: 546px;
}

.services-title {
    padding-top: 90px;
    color: #2B4074;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 64px;
}

.text-1 {
    color: #4A4A4A;
    max-width: 393px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 37px;
}

.text-2 {
    padding-top: 35px;
    color: #797979;
    max-width: 351px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.services-items {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;


    border: 1px solid #F9F6E5;
    border-collapse: collapse;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 273px;
    border: 1px solid #F9F6E5;
}

.items_img {
    width: 64px;
    height: 64px;
    padding-bottom: 25px;
}

.items_title {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 21px;
}

.pop-up-text {
    opacity: 0;
    height: 0;
    color: #9B9B9B;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 18px;
}

.pop-up-more {
    opacity: 0;
    height: 0;
    color: #2B4074;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
}

.item:hover {
    outline: 4px solid #2B4074;
    outline-offset: -4px;
    transition: 0.5s;
}

.item:hover .pop-up-text {
    height: auto;
    opacity: 1;
    transition: 0.5s ease-in;
}

.item:hover .pop-up-more {
    height: auto;
    opacity: 1;
    transition: 0.5s ease-in;
}

/*RECENT WORK*/

.recent {
    min-height: 668px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.recent_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent_title-text {
    font-weight: 400;
    padding: 80px 0 24px;
}

.recent_title-line {
    width: 100px;
    height: 8px;
}

.recent_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent_content-block {
    padding-top: 80px;
}

.recent_content-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent_content-hidden {
    position: absolute;
    background: rgba(249, 246, 229, 0.6);
    border-radius: 4px;
    width: 85%;
    height: 85%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent_content-hidden-link ~ .recent_content-hidden-link {
    padding-left: 10px;
}

.recent_content-block:hover .recent_content-hidden {
    transition: .3s ease-in;
    opacity: 1.0;
}

.recent_content-text {
    color: #2B4074;
    text-align: center;
    padding-top: 15px;
}

/*VIDEO*/
.video {
    min-height: 580px;
}

.video_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.video_about {
    display: flex;
    height: 418px;
    flex-direction: column;
    justify-content: space-between;

}

.vide_about-title {
    color: #4A4A4A;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}

.video_about-line {
    width: 100px;
    height: 8px;
}

.video_about-text {
    width: 584px;
    color: #9B9B9B;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.video_about-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 230px;
    height: 60px;
    color: #F9F6E5;
    background-color: #2B4074;
}

/*NEWS*/
.news {
    min-height: 1044px;
    background-color: #F9F6E5;
}

.news_inner {
    display: flex;
    flex-direction: column;
}

.news_title {
    padding: 52px 0 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_title-text {
    color: #4A4A4A;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 20px;
}

.news_content-block {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.news_content-rect {
    height: min-content;

}

.news_content {
    position: relative;
    margin: 0 0 20px;
}

.news_content-image {
    width: 250px;
    height: 100%;
    border-radius: 3px;
}

.news_content-text {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 20px);
    height: 40px;
    color: #4A4A4A;
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    padding-left: 20px;
}

.news_content-hidden-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



